@model CartViewModel
@{
    ViewData["Title"] = "Cart";
}

<!DOCTYPE html>
<html>
    <head>
        <link href="~/css/cart.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Overview</h1>

        @if (Model.CartItems.Count > 0)
        {
            <table class="table">
                <tr>
                    <th>Item</th>
                    <th>Quantity</th>
                    <th></th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
                @foreach (var item in Model.CartItems)
                {
                    <tr>
                        <td>@item.FoodItemName</td>
                        <td>@item.Quantity</td>
                        <td>
                            <a class="btn btn-primary btn-sm" asp-action="Add" asp-route-id="@item.FoodItemID">+</a>
                            <a class="btn btn-info btn-sm" asp-action="Remove" asp-route-id="@item.FoodItemID">-</a>
                        </td>
                        <td>@item.Price.ToString("C2")</td>
                        <td>@Model.CartItems.Where(x => x.FoodItemID == item.FoodItemID).Sum(x => x.Quantity * x.Price).ToString("C2")</td>
                    </tr>
                }
                <tr>
                    <td class="text-right" colspan="4">Grand Total: @Model.GrandTotal.ToString("C2")</td>
                </tr>
                <tr>
                    <td class="text-right" colspan="4">
                        <a class="btn btn-danger" asp-action="Clear">Clear Cart</a>
                        <a class="btn btn-primary" href="#">Checkout</a>
                    </td>
                </tr>
            </table>
        }
        else
        {
            <p class="display-4 text-center">Your cart is empty.</p>
        }
    </body>
</html>
